
*.log
*.tmp
*.swp
*.swo
*~
.DS_Store
Thumbs.db

.env
.env.*
*.env
*.local

target/
*.class
*.jar
*.war
*.ear
*.iml
.mvn/
.mvn/wrapper/maven-wrapper.jar


logs/
*.log

application-*.yml
application-*.properties


target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


.gradle/
build/


node_modules/
dist/
coverage/
.angular/
.angular/cache/
.npm/
yarn-error.log
package-lock.json
yarn.lock
pnpm-lock.yaml


docker-compose.override.yml
*.pid

coverage/
*.lcov

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

ehthumbs.db
Desktop.ini

prompt.md